[requires]
python_version = "3.12"

[packages]
faker = "*"
pyyaml = "*"
pandas = "*"
openpyxl = "*"
fastparquet = "*"


[dev-packages]
pytest = "*"
pytest-cov = "*"
wheel = "*"
build = "*"
faker_education = "*"
twine = "*"